<html>
    <head>
        <style>
          #heading { color: #FF0000; }
          #hh{ color: rgb(144, 89, 216); }
        </style>
      </head>
    <body>
<h1 id='hh'>SKILLS</h1>
<ul>
    <h2 id='heading'>Proficiency:</h2>
    <li>C</li>
    <li>Python</li>
    <li>Assembly</li>
</ul>
<ul>
    <h2 id='heading'>Familiar with:</h2>
    <li>Angular Framework</li>
    <li>Ionic Framework</li>
  </ul> 
  <ul>
    <h2 id='heading'>Database:</h2>
    <li>Mysql</li>
    <li>Postgres</li>
  </ul> 

  <router-outlet></router-outlet>
</body>
  </html>