<html>
    <body>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>HERE WE USE POST METHOD</b>
        <div class="m1" align="left">
            Enter first name<input type="text" #fname> 
            <div align="right">Enter contact number <input type="text" #cnum></div>
            Enter last name <input type="text" #lname > 
            <div align="right">Enter a password <input type="password" #pass1  ></div>
            Enter email-id <input type="email" #email > 
            <div align="right">Enter above password again<input type="password" #pass2 ></div>
            <div align="centre"> <input type="submit" value="submit" (click)="sendd(fname.value,lname.value,email.value,cnum.value,pass1.value,pass2.value)"></div>
        </div>
    </body>
    <router-outlet></router-outlet>
</html>
