<div>
    <h1>Educational Information</h1>
</div>

<table class='img'>
    <tr bgcolor='#8080'>
        <th>Institute Name</th>
        <th>Examination</th>
        <th>Year</th>
        <th>Percentage</th>
    </tr>
    <tr>
        <th>KAANMS college,Satana</th>
        <th>SSC</th>
        <th>2012</th>
        <th>87.00</th>
    </tr>
    <tr>
        <th>KAANMS college,Satana</th>
        <th>HSC</th>
        <th>2014</th>
        <th>54.15</th>
    </tr>
    <tr>
        <th>KAANMS college,Satana</th>
        <th>BSC(comp. science)</th>
        <th>2017</th>
        <th>57.26</th>
    </tr>
    <tr>
        <th>Pune University,Pune</th>
        <th>MCA</th>
        <th>2020</th>
        <th>4.9</th>
    </tr>
</table>
<router-outlet></router-outlet>