<div class='hh1'>
    <h1>Mangesh Gokul Sonawane</h1>
</div>
<div class="hh2">
	<marquee behavior="scroll" direction="left"><b><font color="red">Welcome to my Resume</font></b></marquee>
    <nav>
        <a routerLink="personal" routerLinkActive="avtive"><button>Personal details</button></a> 
        <a routerLink="education" routerLinkActive="avtive"><button>Education</button></a> 
        <a routerLink="project" routerLinkActive="avtive"><button>project details</button></a> 
        <a routerLink="skills" routerLinkActive="avtive"><button >Technical Skills</button></a><br><br>
   </nav>
</div>


<router-outlet></router-outlet>
