<h1>MY PROJECTS</h1>

<table class='img'>
    <tr>
        <th>Projects</th>
        <th>Technologies</th>
        <th>Description</th>
    </tr>
    <tr>
        <th>Assembler</th>
        <th>Basic python</th>
        <th>Building an assembler which accept assembly code and give object code of it.
            It also gives symbol table,literal table and intermediate code.
        </th>
    </tr>
    <tr>
        <th>Android App</th>
        <th>Ionic,Angular6,python-flask,mysql</th>
        <th>Build an android app of e-commerce website using ionic.This project was intern project.</th>
    </tr>
    <tr>

    </tr>
</table>
<router-outlet></router-outlet>
