<html>
<body class='m1'>
  <input type='text' #name>Enter name of group
  <div align='right '><button value="Back" (click)='back()'>Back</button></div>
   <div *ngFor="let user of lst;let i=index">
     {{user[1]}}
     <input type='submit' value="add" (click)='addd(i)'>
   </div>
   select permission<br>
   <select #val1>
     <option value="1">read only</option>
    <option value='2'>write only</option>
    <option value="3">Execute only</option>
   <option value='12'>read,write</option>
   <option value='13'>read,write,execute</option>
   <option value='123'>read,write,execute</option>
   </select>

   <button value="OK" (click)='sub(name.value,val1.value)' >Proceed</button>
   <button value="OK" (click)='refresh()' >Reset</button>
</body>
</html>
