<html>
<body>
<div class='h1'>
  <h1>Personal Details</h1>
    <h2 id='heading'>E-mail:</h2>mgsonawane5668@gmail.com
    <h2 id='heading'>Address:</h2>Savitribai phule Pune University,411007
    <h2 id='heading'>Mobile:</h2>8855075242<br>
    9373509454
    <h2 id='heading'>Birth Date:</h2>14th may 1996
    <h2 id='heading'>Github link::</h2> <a href="url">https://github.com/mgsonawane</a>
    <h2 id='heading'>facebook link::</h2> <a href="url">https://www.facebook.com/mangesh.sonawane.58</a>
</div>
  <router-outlet></router-outlet>
</body>
  </html>